<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지 등록</title>
    <link rel="stylesheet" href="/img/style.css">
</head>

<body>
    <header>
        <h1>Vegan Delight - 관리자 mode <img th:src="@{/img/회원관리.png}" alt="마이페이지" width="36"></h1>
        <nav id="navMenu">
            <a th:href="@{/admin/indexmg}">홈</a>
            <a th:href="@/{admin/post}">게시판</a>
            <a th:href="@{/admin/usermng}">회원관리</a>
        </nav>
    </header>

    <main class="addPost-detail-container">

        <div class="addPost-card">
            <h2>공지사항 추가</h2>

            <form th:action="@{/admin/addNotice}" th:object="${post}" method="post">
                <!-- 고정 여부 선택 -->
                <div class="control">
                    <select th:field="*{fixed}">
                        <option th:value="false">일반 게시</option>
                        <option th:value="true">고정 게시</option>
                    </select>
                </div>

                <!-- 제목 입력 -->
                <p style="color:#4caf50; font-weight:600; margin-right:6px;">
                    제목: <input type="text" id="addTitle" th:field="*{title}" required/>
                </p>

                <hr>

                <!-- 내용 입력 -->
                <p style="color:#4caf50; font-weight:600; margin-right:6px;">
                    내용:
                </p>
                <textarea th:field="*{content}" rows="12" required></textarea>

                <!-- 버튼 -->
                <div class="addPostBtn">
                    <button type="submit">등록</button>
                    <button id="cancelBtn">취소</button>
                </div>
            </form>
        </div>

    </main>
</body>
<script>
    document.getElementById('cancelBtn').addEventListener('click', function() {
      window.location.href = '/admin/post';
  });
</script>
</html>