<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Vegan quiz</title>
    <link rel="stylesheet" href="/course/styleCourse.css">
</head>

<body>
<header>
    <h1><a href="/">Vegan Delight</a></h1>
    <nav id="navMenu">
        <a href="/">홈</a>
        <a href="/course/main">강의</a>
        <a href="/myFridge/main">나의 냉장고</a>
        <a href="/post/main">게시판</a>
        <a href="login.html" id="loginBtn">로그인</a>
        <a href="mypage.html">마이페이지</a>
    </nav>
</header>
<main class="quiz-container">


    <div class="quiz-card">

        <div class="quiz-card-head">
            <h2>퀴즈</h2>
            <button id="closeQuiz" type="submit" onclick="confirmExit()">
                X
            </button>
        </div>

        <div th:if="${not #lists.isEmpty(quizzes)}">
            <p style="color:#4caf50; font-weight: 600; margin-right: 6px; font-size: large;">
                강의명 : <span th:text="${quizzes[0].quiz_name}"></span>
        </div>

        <form th:each="quiz : ${quizzes}" id="quizForm">

            <div class="question">
                <h3 style="font-weight: 600; font-size: 20px; margin-left: 12px;">
                    Q1.
                </h3>

                <section class="question-input"> <!-- 문제 내용 입력칸-->
                    <span th:text="${quiz.quiz_question}"></span>
                </section>
            </div>


            <div class="answer">
                <p style="color:#4caf50; font-weight: 600; margin-right: 6px; font-size: large;">
                    정답:</p>
                <div class="answer-input">
                    <input type="hidden" th:value="${quiz.quiz_answer}">
                    <input type="text" placeholder="정답을 입력하세요">
                </div>
            </div>
            <hr style="margin: 30px">
        </form>

        <div class="answerSubmit">
            <button type="submit" name="action" value="last">제출</button>
        </div>
    </div>


</main>
</body>
<script>
    function confirmExit() {
        if (confirm("퀴즈를 나가시겠습니까?")) {
            location.href = '/course/main';
        }
    }

    document.querySelector(".answerSubmit").addEventListener("click", function () {
        alert("제출 되었습니다.");
        location.href = '/quizResult.html';

    });
</script>
</html>