<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses - Vegan quiz</title>
  <link rel="stylesheet" href="/css/styleCourse.css">
</head>

<body>
 <div th:replace="fragments/mainheader :: mainHeader"></div>
 <main class="quiz-container">


    <div class="quiz-card">

        <div class="quiz-card-head">
            <h2>퀴즈</h2>
            <button id="closeQuiz" type="submit" onclick="confirmExit()">
                X
            </button>
        </div>

        <div th:if="${not #lists.isEmpty(quizzes)}">
            <p style="color:#4caf50; font-weight: 600; margin-right: 6px; font-size: large;">
                강의명 : <span th:text="${quizzes[0].quiz_name}"></span>
        </div>

        <form id="quizForm" method="post" action="/quiz/submit">

            <div th:each="quiz, stat : ${quizzes}">
            <div class="question">
                <h3 style="font-weight: 600; font-size: 20px; margin-left: 12px;">
                    Q.
                </h3>

                <section class="question-input"> <!-- 문제 내용 입력칸-->
                    <span th:text="${quiz.quiz_question}"></span>
                    <input type="hidden" th:name="'quizzes[' + ${stat.index} + '].id'" th:value="${quiz.id}" />
                </section>
            </div>


            <div class="answer">
                <p style="color:#4caf50; font-weight: 600; margin-right: 6px; font-size: large;">
                    정답:</p>
                <div class="answer-input">
                    <input type="text" th:name="'quizzes[' + ${stat.index} + '].quiz_answer'" placeholder="정답을 입력하세요" />
                </div>
            </div>
            <hr style="margin: 30px">
            </div>


            <div class="answerSubmit">
                <button type="submit">제출</button>
            </div>
        </form>
    </div>
</main>
<script>
    function confirmExit() {
        if (confirm("퀴즈를 나가시겠습니까?")) {
            location.href = '/course/main';
        }
    }
</script>
</html>