<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>회원 관리 - 관리자 모드</title>
  <link rel="stylesheet" href="styleM.css">
</head>

<body>
 <header>
    <h1><a href="/">Vegan Delight</a></h1>
    <nav id="navMenu">
      <a href="index.html">홈</a>
      <a href="courses.html">강의</a>
      <a href="myFridge.html">나의 냉장고</a>
      <a href="main.html">게시판</a>
      <a href="login.html" id="loginBtn">로그인</a>
      <a href="mypage.html">마이페이지</a> 
    </nav>
  </header>
  <div class="page-wrapper">
    <nav id="subNav">
      <a href="">회원 정보 관리</a>
      <a href="">게시판 관리</a>
    </nav>

 <main class="board-container">
    <h2>회원 정보 관리</h2>

    <div class="userSearch-box">
    
            <input type="text" name="keyword" placeholder="회원 정보를 입력해 주세요" class="userSearch-input">
            
            <button type="submit">
              <svg width="25" height="25" fill="currentColor" viewBox="0 0 24 24">
                <path d="M21 21l-4.35-4.35m1.35-5.15a7 7 0 11-14 0 7 7 0 0114 0z" stroke="#6b7280" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
    
    </div>
 
    <table id="userTable">
      <thead>
        <tr>
          <th>id</th>
          <th>아이디</th>
          <th>이름</th>
          <th>이메일</th>
          <th>관리</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="post : ${fixedPosts}">
        <td>
           
        </td>
        <td>
            
        </td>
        <td ></td>
        <td th:text="${#temporals.format(.created_at, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text>
            <button class="edit-btn" th:onclick>
                수정
            </button>
            <button class="delete-btn" th:onclick>
               삭제
           </button>

        </td>
    </tr>
      </tbody>
    </table>
  </main>
  </div>

</body>

</html>