<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="style.css">
    <style>
    /*body {
      font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    }}*/
    textarea {
      width: 100%;
      height: 400px;
      resize: vertical;
      font-family: inherit;
      font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    }
  </style>
</head>

<body>
  <header>
    <h1>Vegan delight</h1>
    <nav>
      <a href="index.html">Home</a>
      <a href="courses.html">Courses</a>
      <a href="myfridge.html">나의 냉장고</a>
      <a href="login.html">Login</a>
      <a href="notice.html">게시판</a>
      <a href="mypage.html">my page</a>
    </nav>
  </header>
    
  <main class="addPost-detail-container">
    
    <div class="addPost-card">
    <h2>게시글 등록</h2>
   
    <form th:action="@{/post/add}" th:object="${post}" method="post">
        <p style="color:#4caf50; font-weight: 600; margin-right: 6px;">
          제목 : <input type="text" th:field="*{title}"/></p>
        <hr>
       
        <p style="color:#4caf50; font-weight: 600; margin-right: 6px;">
          내용 : <textarea th:field="*{content}" rows="12"></textarea></p>
          
          <div class="addPostBtns">
          <button type="submit" onclick="location.href='/'">등록</button>
          <button type="submit" onclick="location.href='/post/list'">취소</button>
          </div>
    </form>
    

   </div>
</main>
</body>
</html>