<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지 등록</title>
    <link rel="stylesheet" href="Noticestyle.css">
</head>

<body>
    <header>
        <h1>Vegan Delight - 관리자 mode<img src="./img/회원관리.png" alt="마이페이지" width="36"></h1>
        <nav id="navMenu">
            <a href="indexmg.html">Home</a>
            <a href="post.html">게시판</a>
            <a href="usermng.html">회원관리</a>
        </nav>
    </header>

    <main class="addPost-detail-container">

        <div class="addPost-card">
            <h2>공지사항 추가</h2>

            <form th:action="@{/post/add}" th:object="${post}" method="post">
                <div class="control">
                    <select th:field="*{fixed}">
                        <option value="0">일반 게시</option>
                        <option value="1">고정 게시</option>
                    </select>
                </div>

                <p style="color:#4caf50; font-weight: 600; margin-right: 6px;">
                    제목 : <input type="text" id="addTitle" th:field="*{title}" /></p>
                <hr>
                <p style="color:#4caf50; font-weight: 600; margin-right: 6px;">
                    내용 : </p><textarea th:field="*{content}" rows="12"></textarea>

                <div class="addPostBtn">
                    <button type="submit" onclick="location.href='/'">등록</button>
                    <button type="button" onclick="location.href='/post/list'">취소</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>