<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
</head>
<body>
    <h1>게시글 등록</h1>

    <form th:action="@{/post/add}" th:object="${post}" method="post">
        <p>제목 : <input type="text" th:field="*{title}"/></p>
        <p>내용 : <input type="text" th:field="*{content}"/></p>
        <button type="submit"  onclick="location.href='/'">게시글 등록</button>
    </form>

    <form th:action="@{/post/list}">
        <button type="submit">취소</button>
    </form>

</body>
</html>