<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>

  <div>

    <h1>게시판</h1>
    <hr>
    <h2 th:text="${post.title}">제목</h2>
    <hr>
    <div>
      <strong>작성자 :</strong>
      <span th:text="${post.author}"></span>
    </div>
    <div>
      <strong>작성일 :</strong>
      <span th:text="${#temporals.format(post.created_at, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
    <hr>
    <div>
      <p th:utext="${contentWithBr}"></p>
    </div>

    <button type="button" onclick="location.href='/post/main'">게시글 목록</button>

  </div>

  <h2>댓글</h2>
  <hr>
  <div th:if="${not #lists.isEmpty(comments)}">
<!-- ajax 활용해서 댓글창 구현 (프론트엔드)  -->
    <div th:each="comment : ${comments}" class="comment-item">
      <strong>작성자 :</strong>
      <span th:text="${comment.comments_name}"></span>
      <br>
      <br>
      <span th:utext="${comment.comments_content}"></span>
      <br>
      <br>
      <small th:text="${#temporals.format(comment.created_at, 'yyyy-MM-dd HH:mm')}"></small>

      <form th:action="@{/comment/delete}" method="post">
        <input type="hidden" name="id" th:value="${comment.id}">
        <input type="hidden" name="posts_id" th:value="${comment.posts_id}">
        <button type="submit">댓글 삭제</button>
      </form>
    </div>
  </div>

  <hr>

  <form th:action="@{/post/edit/{id}(id=${post.id})}">
    <input type="hidden" name="id" th:value="${post.id}">
    <button type="submit">게시글 수정</button>
  </form>

  <form th:action="@{/post/delete}" method="post">
    <input type="hidden" name="id" th:value="${post.id}">
    <button type="submit">게시글 삭제</button>
  </form>

  <div>
    <a th:if="${nextId}" th:href="@{/post/detail/{id}(id=${nextId})}">다음 글</a>
    <a th:if="${prevId}" th:href="@{/post/detail/{id}(id=${prevId})}">이전 글</a>
  </div>
</body>
</html>