<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>

  <div>

    <h1>게시판</h1>
    <hr>
    <h2 th:text="${post.title}">제목</h2>
    <hr>
    <div>
      <strong>작성자 :</strong>
      <span th:text="${post.author}"></span>
    </div>
    <div>
      <strong>작성일 :</strong>
      <span th:text="${post.created_at}"></span>
    </div>
    <hr>
    <div>
      <p th:utext="${post.content}"></p>
    </div>

    <button type="button" onclick="location.href='/'">게시글 목록</button>

    <a th:href="@{/post/edit/{id}(id=${post.id})}" th:text="수정"></a>

  </div>

  <form th:action="@{/post/delete}" method="post">
    <input type="hidden" name="id" th:value="${post.id}">
    <button type="submit">삭제</button>
  </form>

</body>
</html>