<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>

  <div>

    <h1>게시판</h1>
    <hr>
    <h2 th:text="${post.title}">제목</h2>
    <hr>
    <div>
      <strong>작성자 :</strong>
      <span th:text="${post.author}"></span>
    </div>
    <div>
      <strong>작성일 :</strong>
      <span th:text="${#temporals.format(post.created_at, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
    <hr>
    <div>
      <p th:utext="${contentWithBr}"></p>
    </div>

    <button type="button" onclick="location.href='/post/main'">게시글 목록</button>

  </div>

  <form th:action="@{/post/edit/{id}(id=${post.id})}">
    <input type="hidden" name="id" th:value="${post.id}">
    <button type="submit">수정</button>
  </form>

  <form th:action="@{/post/delete}" method="post">
    <input type="hidden" name="id" th:value="${post.id}">
    <button type="submit">삭제</button>
  </form>

  <div>
    <a th:if="${nextId}" th:href="@{/post/detail/{id}(id=${nextId})}">다음 글</a>
    <a th:if="${prevId}" th:href="@{/post/detail/{id}(id=${prevId})}">이전 글</a>
  </div>
</body>
</html>